<h2>New Doctor Registration</h2>

<p><b>Name:</b> Dr. {{firstName}} {{lastName}}</p>
<p><b>Email:</b> {{email}}</p>
<p><b>Phone:</b> {{phone}}</p>
<p><b>DOB:</b> {{dob}}</p>

<p><b>Temp Password:</b> {{tempPassword}}</p>

<p><i>Registered on {{timestamp}}</i></p>
